.dialog {
  color: #fff;
  border-radius: var(--dialog-radius);

  --transition-time: 300ms;
  --dialog-radius: 10px;
}

.dialog.dialog-red,
.dialog.dialog-red .dialog-list-item {
  background-color: var(--player1-color);
}

.dialog.dialog-blue,
.dialog.dialog-blue .dialog-list-item {
  background-color: var(--player2-color);
}

.dialog.dialog--active .dialog-button::after {
  transform: rotate(-90deg);
}

.dialog-button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px 5px;
  margin-bottom: 25px;
  cursor: pointer;

  font-weight: bold;
}

.dialog-button::after {
  display: inline-block;
  content: "";

  margin-left: 10px;
  width: 15px;
  height: 15px;
  transform: rotate(90deg);
  transition: transform var(--transition-time) ease;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.dialog-list {
  position: absolute;
  z-index: 2;

  overflow-y: hidden;
  height: 0;
  margin-bottom: 25px;

  transition: all var(--transition-time) ease;

  border-radius: var(--dialog-radius);
}

.dialog-list-item {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 20px;
}

.dialog.dialog-blue .dialog-list {
  right: var(--base-padding);
}

.dialog-list-item img {
  height: 50px;
}

.dialog-list-item p {
  text-align: start;
  font-weight: bold;
  margin-left: 15px;
}

.dialog-phrase {
  display: flex;
  justify-content: center;
  align-items: center;

  pointer-events: none;
  position: absolute;
  transform: translateX(-50%);
  animation: fly 15s forwards linear;
}

.dialog-phrase-wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;

  color: #fff;
  background-color: rgba(19, 36, 64, 0.4);
  border: 1px solid #132440;
  border-radius: 20px;
}

.dialog-phrase img {
  margin-right: 20px;
  height: 100px;
}

.dialog-phrase-wrapper span {
  font-size: 20px;
  font-weight: bold;
}

.dialog-phrase-wrapper p {
  font-weight: normal;
}

@keyframes fly {
  from {
    top: 100vh;
  }
  to {
    top: -100vh;
  }
}