.dice-container {
	position: absolute;
	top: 150%;
	left: 50%;
	transform: translate(-50%, -50%);

	display: grid;
	place-items: center;
	padding: 60px 0 40px;
	border-radius: 30px;
	box-shadow: 0 0 20px rgba(0, 0, 0, .1);
	transition: top 1s cubic-bezier(0.25, 1.2, 0.5, 1);

	/* Dice parameter styles */
	--dice-scale: 2;
	--dice-size: 100px;
	--black-dot-size: 40px;
}

.dice-container--roling {
	top: 50%;
}

.dice {
	scale: var(--dice-scale);
	position: relative;
	width: var(--dice-size);
	height: var(--dice-size);
	transform-style: preserve-3d;
	transition: 1s ease;
}

@keyframes rolling {
	50% {
		transform: rotateX(455deg) rotateY(455deg);
	}
}

.face {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 5px solid #f6f3f0;
	transform-style: preserve-3d;
	background: linear-gradient(145deg, #dddbd8, #fff);
}

.face::before {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	border-radius: 20px;
	background: #f6f3f0;
	transform: translateZ(-1px);
}

.face::after {
	position: absolute;
	content: '';
	top: 50%;
	left: 50%;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background: #131210;
}

.front {
	transform: translateZ(calc(var(--dice-size) / 2));
}

.back {
	transform: rotateX(180deg) translateZ(calc(var(--dice-size) / 2));
}

.top {
	transform: rotateX(90deg) translateZ(calc(var(--dice-size) / 2));
}

.bottom {
	transform: rotateX(-90deg) translateZ(calc(var(--dice-size) / 2));
}

.right {
	transform: rotateY(90deg) translateZ(calc(var(--dice-size) / 2));
}

.left {
	transform: rotateY(-90deg) translateZ(calc(var(--dice-size) / 2));
}

.front::after {
	width: 30px;
	height: 30px;
	background: #f63330;
	margin: -15px 0 0 -15px;
}

.back::after {
	margin: -35px 0 0 -30px;
	box-shadow: 40px 0,
		0 25px,
		40px 25px,
		0 50px,
		40px 50px;
}

.top::after {
	margin: -30px 0 0 -30px;
	box-shadow: 40px 40px;
}

.bottom::after {
	margin: -36px 0 0 -36px;
	box-shadow: 26px 26px,
		52px 52px,
		52px 0,
		0 52px;
}

.right::after {
	margin: -30px 0 0 -30px;
	box-shadow: 40px 0,
		0 40px,
		40px 40px;
}

.left::after {
	margin: -35px 0 0 -35px;
	box-shadow: 25px 25px,
		50px 50px;
}