#game {
  display: flex;
  justify-content: space-between;

  width: 100vw;
  height: 100vh;

  --base-padding: 30px;

  padding: var(--base-padding);
  padding-top: 0;

  background: url('../assets/images/bg_main.jpg') no-repeat center center fixed;
  background-size: cover;
}

.player-section {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: left var(--base-transition-duration) ease, right var(--base-transition-duration) ease;
}

.player-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 30px;
}

#player2 {
  transition: transform var(--base-transition-duration) ease;
  transform: translateX(100vw);
}

#player2.is-visible {
  transform: translateX(0);
}

#player1 .player-name {
  color: var(--player1-color);
}

#player2 .player-name {
  color: var(--player2-color);
}

#player1 .player-info {
  flex-direction: row-reverse;
}

#player1 .player-avatar {
  margin-right: 20px;
}

#player2 .player-avatar {
  margin-left: 20px;
}

.player-avatar {
  height: 60px;
}

.player-name {
  font-size: 30px;
  font-weight: bold;
}

#main-btn.disabled {
  cursor: not-allowed;
  opacity: 0.4;
}