.nav {
  max-width: var(--max-page-width);

  position: relative;
  z-index: 3;

  max-width: var(--max-page-width);
  margin-inline: auto;

  padding: 50px var(--page-margin-x);
}

.nav-brand {
  transition: opacity var(--base-transition-duration) ease;
  font-size: 20px;
  font-weight: bold;
  color: var(--base-text-color);
}

.nav-brand:hover {
  opacity: 0.7;
}

.nav-brand span {
  color: var(--purple-color);
}