.nav {
  max-width: var(--max-page-width);

  position: relative;
  z-index: 5;

  max-width: var(--max-page-width);
  margin-inline: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 50px var(--page-margin);

  --navbar-list-gap: 60px;
}

.nav.is-active {
  z-index: 5;
}

.nav-brand {
  transition: opacity var(--base-transition-duration) ease;
  font-size: 20px;
  font-weight: bold;
  color: var(--base-text-color);
}

.nav-brand:hover {
  opacity: 0.7;
}

.nav-brand span,
.nav-link {
  color: var(--purple-color);
}

.nav.is-active .nav-brand,
.nav.is-active .nav-brand span,
.nav.is-active .nav-link {
  color: var(--light-color);
}

.nav-list {
  transform: translateX(-100vw);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  padding: 140px 40px;
  font-size: 26px;

  transition: opacity var(--base-transition-duration) ease,
  transform var(--base-transition-duration) ease;

  display: flex;
  flex-direction: column;
  gap: var(--navbar-list-gap);
  list-style: none;
  font-weight: bold;
  letter-spacing: 1.2px;
}

.nav.is-active .nav-list {
  transition: opacity var(--base-transition-duration) ease var(--base-transition-duration),
  transform var(--base-transition-duration) ease var(--base-transition-duration);
}

.nav.is-active .nav-list {
  transform: translateX(0);
  opacity: 1;
}

.nav-item {
  position: relative;
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  transform: translateY(10px);
  height: 2px;
  width: 0;
  background-color: var(--purple-color);
  transition: width var(--base-transition-duration) ease,
  left var(--base-transition-duration) ease,
  right var(--base-transition-duration) ease;
}

.nav.is-active .nav-link::before {
  background-color: var(--light-color);
}

.nav-link:hover::before {
  width: 100%;
  left: 0;
  right: auto;
}

.nav-link:not(:hover)::before {
  width: 0;
  right: 0;
  left: auto;
}

.nav-menu-btn {
  cursor: pointer;
  padding: 7px 5px;
  width: 35px;
  height: 30px;
  border-radius: 10px;
  background-color: var(--light-color);
}

.nav-lines {
  position: relative;
  width: 100%;
  height: 100%;
}

.nav-line {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  border-radius: 1px;
  background-color: var(--dark-color);
  transition: transform var(--base-transition-duration) ease;
}

.nav-line:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.nav-line:last-child {
  top: auto;
  bottom: 0;
}

.nav.is-active .nav-line {
  top: 50%;
  transform: translateY(-50%);
  bottom: auto;
}

.nav.is-active .nav-line:first-child {
  transform: translateY(-50%) rotate(45deg);
}

.nav.is-active .nav-line:nth-child(2) {
  display: none;
}

.nav.is-active .nav-line:last-child {
  transform: translateY(-50%) rotate(-45deg);
}

@media (min-width: 1220px) {
  .nav-list {
    font-size: 16px;
    padding: 0;
    position: static;
    transform: translate(0, 0);
    opacity: 1;

    display: flex;
    flex-direction: row;
    gap: var(--navbar-list-gap);
  }

  .nav-menu-btn {
    display: none;
  }
}