.player-section {
  display: flex;
  flex-direction: column;
  
  position: relative;
  transition: left var(--base-transition-duration) ease, right var(--base-transition-duration) ease;
}

#player1.player-section {
  left: -100vh;
}

#player2.player-section {
  right: -100vh;
}

#player1.player-section.is-visible {
  left: 0;
}

#player2.player-section.is-visible {
  right: 0;
}