@import url('./components/reset.css');
@import url('./components/animations.css');
@import url('./components/navbar.css');
@import url('./components/header.css');
@import url('./components/formSection.css');
@import url('./components/avatars.css');
@import url('./components/ribbons.css');
@import url('./components/buttons.css');
@import url('./components/roomsTable.css');
@import url('./components/dice.css');
@import url('./components/dialog.css');
@import url('./components/coin.css');
@import url('./components/timer.css');
@import url('./components/board.css');
@import url('./components/ships.css');
@import url('./components/game.css');
@import url('./components/hand.css');
@import url('./components/colorPalette.css');
@import url('./components/helper.css');
@import url('./components/helperRobot.css');

body {
  position: fixed;
  max-height: 100vh;
  overflow: hidden;

  font-family: "Outfit", sans-serif;
  padding-top: 0;
  background-size: cover;
  background-color: #270057;

  background-size: contain;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;

  --max-page-width: 1400px;
  --max-section-width: 600px;
  --page-margin: 40px;
  --base-text-color: #A4B7C7;
  --purple-color: #DD7BDF;
  --red-color: #EA2F14;
  --green-color: #2A8153;
  --light-color: #FBFDFE;
  --dark-color: #132440;
  --base-transition-duration: 300ms;
  --scroll-animation-duration: 800ms;

  --player1-color: var(--purple-color);
  --player2-color: var(--purple-color);

}

.is-hidden {
  display: none;
}

.active {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

::-webkit-scrollbar {
  display: none;
}